<div class="card" *ngIf="author$ | async as author">
  <a [routerLink]="['/article-detail/', article.id]">
    <img
      class="card__image"
      onError="this.src='/assets/images/fake.png'"
      [src]="article.image"
      alt="記事の画像"
    />
  </a>
  <div class="card__contents">
    <img
      class="card__avatar"
      onError="this.src='/assets/images/fake.png'"
      [src]="author.avatarURL"
      alt="ユーザーアバター"
    />
    <div class="card__items">
      <a [routerLink]="['/article-detail/', article.id]">
        <p class="card__title">
          {{ article.title ? article.title : 'タイトル' }}
        </p>
        <span class="card__date">
          投稿日:{{
            article.createdAt
              ? (article.createdAt.toDate() | date: 'yyyy/MM/dd')
              : '2020/12/05'
          }}
        </span>
      </a>
    </div>
    <button
      class="card__menu-btn"
      [matMenuTriggerFor]="menuRef"
      mat-icon-button
      *ngIf="uid === article.ownerId"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menuRef="matMenu">
      <button
        (click)="deleteArticle(article.id)"
        mat-menu-item
      >
        <mat-icon>delete</mat-icon>
        <span>削除</span>
      </button>
    </mat-menu>
  </div>
</div>
