<div class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__settings">
        <a href="" routerLink="">
          <mat-icon aria-hidden="false">settings</mat-icon>
        </a>
      </div>
      <h1 class="header__title">
        <a href="" class="header__logo-link">Threed</a>
      </h1>

      <div class="header__actions">
        <ng-container *ngIf="authService.user$ | async as user; else notLogin">
          <img
            [matMenuTriggerFor]="menuRef"
            class="header__account"
            [src]="user.avatarURL"
            alt=""
          />
        </ng-container>
        <mat-menu #menuRef="matMenu">
          <a mat-menu-item href="" routerLink="/my-page"
            ><mat-icon>account_circle</mat-icon> <span>マイページ</span></a
          >
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>ログアウト</span>
          </button>
        </mat-menu>
        <ng-template #notLogin>
          <button (click)="login()" class="header__button" mat-button>
            ログイン
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</div>
