<ng-container *ngIf="article$ | async as article">
  <app-image-object [imageURL]="article.image"></app-image-object>

  <div class="detail">
    <div class="container">
      <div class="detail__title">
        <p *ngIf="!isEditable">{{ article.title }}</p>

        <form [formGroup]="form" *ngIf="isEditable" class="form">
          <mat-form-field appearance="outline" class="form__input">
            <mat-label>タイトル</mat-label>
            <input
              formControlName="title"
              matInput
              autocomplete="off"
              placeholder="タイトル"
              type="text"
              required
            />
          </mat-form-field>
          <mat-error *ngIf="form.get('title').hasError('required')"
            >必須入力です</mat-error
          >
          <mat-error *ngIf="form.get('title').hasError('maxlength')"
            >最大{{ titleMaxLength }}文字です</mat-error
          >
        </form>

        <button
          *ngIf="!isEditable && article.ownerId === authServise.uid"
          (click)="isEditable = !isEditable"
          mat-icon-button
        >
          <mat-icon>create</mat-icon>
        </button>
      </div>
      <div class="detail__users">
        <div class="detail__icon">
          <img src="assets/images/example-image.png" alt="" />
        </div>
        <div class="detail__name">
          <p>ユーザーネーム</p>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="detail__description">
        <p *ngIf="!isEditable">
          {{ article.description ? article.description : '説明' }}
        </p>
        <form [formGroup]="form" class="form">
          <mat-form-field
            *ngIf="isEditable"
            appearance="outline"
            class="form__input"
          >
            <mat-label>説明</mat-label>
            <textarea
              formControlName="description"
              matInput
              placeholder="説明"
            ></textarea>
          </mat-form-field>
          <div class="actions" *ngIf="isEditable">
            <button mat-button (click)="isEditable = false">キャンセル</button>
            <button
              (click)="update()"
              [disabled]="form.pristine || form.invalid"
              mat-raised-button
              color="primary"
            >
              保存
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-container>
