@import 'variables';

* {
  box-sizing: border-box;
}

.heading {
  text-align: center;
  &__text {
    font-weight: 600;
  }
}

.form {
  text-align: center;
  width: 100%;
  &__title {
    width: 100%;
    padding-bottom: 8px;
  }
  &__submit {
    width: 100%;
    padding: 8px 16px;
    border-radius: 6px;
    background: $color-accent;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
  }
  &__cancel {
    width: 100%;
    padding: 8px 16px;
  }
  mat-form-feild {
    box-sizing: border-box;
  }
}
.area {
  width: 45em;
  padding: 15px;
  border: 1px solid #333;
  background: rgba(0, 0, 0, 0.7);
}
#drop_zone {
  border: 2px dashed #bbb;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 50px;
  text-align: center;
  font: 21pt bold arial;
  color: #bbb;
}
label {
  display: inline-block;
  color: white;
  background-color: $color-main;
  padding: 6px;
  border-radius: 12px;
  cursor: pointer;
  transition: opacity 0.3s;
  &:hover {
    opacity: 0.8;
  }
}
